<!-- 组合小车底盘与摄像头与雷达 -->
<robot name="my_car_camera" xmlns:xacro="http://wiki.ros.org/xacro">
    <xacro:include filename="head.xacro" />
    <xacro:include filename="base.xacro" />
    <xacro:include filename="camera.xacro" />
    <xacro:include filename="lidar.xacro" />
    <!-- 运动控制 -->
    <xacro:include filename="move.xacro" />
    <xacro:include filename="laser_scan.xacro" />
    <xacro:include filename="camera_scan.xacro" />
    <xacro:include filename="kinect.xacro" />
</robot>
